
.sideBar{
    width: 40px;
    border-right: #343636 solid 1px;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    align-items: center;
    background-color: #1D1F1F;
    padding: 20px 12px;   
    gap: 10px; 
}

.sidebar-icons{
    color: #A4A5A5;
    width: 24px;
    height: 24px;
    font-weight: 500;
}

.sidebar-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-button:hover{
    background-color: #343636;
    border-radius: 20px;

}