.individual-contact{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.contact-item-photo{
    height: auto;
    display: flex;
    padding: 10px 10px;
}
.individual-contact img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.individual-contact span{
    color: #ffffff;
    font-size: 16px;
}
.individual-contact p{
    color: #A1A2A2;
    font-size: 14px;
}
.contact-list :hover{
    background-color: #2E2F2F;
    border-radius: 12px;
}
.contact-list:active{
        background-color: #2E2F2F;
        border-radius: 12px;
}
