.list-of-contacts{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.contact-item-photo{
    height: auto;
    display: flex;
    padding: 10px 10px;
}
.list-of-contacts img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.list-of-contacts p{
    color: #ffffff;
}